.go-back {
  padding: 1rem 0;
}

a {
  text-decoration: none;
  color: black;
}

.product-container {
  @media only screen and (min-width: 1000px) {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 100%;
  }
  display: flex;
  flex-direction: column;
  .img-container {
    display: grid;
    place-items: center;
    img {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      border-radius: 15px;
      object-fit: contain;
      width: 100%;
    }
  }
  .info-container {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .name {
      font-size: 3rem;
    }
    .description {
      color: rgb(73, 73, 73);
      font-weight: 600;
      margin: 1rem 0;
      line-height: 1.5;
      font-size: 1.2rem;
    }
    .price-cart {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 1rem 0;
      .price {
        font-weight: 600;
        font-size: 2.5rem;
      }
      .addCart {
        outline: none;
        font-size: 1.2rem;
        border: none;
        padding: 0.75rem 1rem;
        color: white;
        transition: transform 0.15s;
        cursor: pointer;
        position: relative;
        z-index: 1;

        &::after {
          content: "";
          background-color: black;
          transition: transform 0.3s;
          border-radius: 10px;
          position: absolute;
          inset: 0;
          z-index: -1;
        }

        &:active::after {
          transform: scale(1.05);
        }
      }
    }
  }
}
